/deployment_file
/Deployment Document.docx
/source_code/mobile
/source_code/web/.idea
/source_code/web/OnlinePrescription/out
/source_code/web/OnlinePrescription/target
/source_code/web/OnlinePrescription/.idea
/source_code/web/OnlinePrescription/.settings
/source_code/web/OnlinePrescription/.project
/source_code/web/OnlinePrescription/.classpath
/source_code/web/OnlinePrescription/OnlinePrescription.eml
/source_code/web/OnlinePrescription/OnlinePrescription.iml
/source_code/web/OnlinePrescription/OnlinePrescription.userlibraries